body {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/608/802/518/nature-landscape-mist-forest-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  